/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/Paulscode IBXM Library License.txt
/LICENSE-fml.txt
/CREDITS-fml.txt
/forge-1.6.4-9.11.1.964-changelog.txt